.box1{background-color: red;}
.box2{background-color: rgb(255, 153, 0);}
.box3{background-color: rgb(128, 255, 0);}
.box4{background-color: rgb(7, 71, 5);}
.box5{background-color: rgb(0, 242, 255);}
.box6{background-color: rgb(157, 0, 255);}
.box7{background-color: rgb(255, 0, 183);}
.box8{background-color: rgb(68, 0, 255);}
